<ion-content>
  <div class="myWrapper">
    <div class="imgBloc">
      <!-- <img src="assets/images/img_inscription.jpg" alt=""> -->
    </div>
    <form class="blockForm" [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
      <div class="jhead">
        <span class="myTitle">Connexion</span>
        <span class="myTitleAside">Connectez vous si vous êtes déjà inscrit</span>
      </div>
      <div class="jmiddle">

        <div class="myfield">
          <label for="username" class="mylabel">Votre nom d’utilisateur</label>
          <input id="username" type="text" class="mytextfield" formControlName="username"  placeholder="Nom d'utilisateur">
        </div>
        <div class="myfield">
          <label for="password" class="mylabel">Votre mot de pass</label>
          <input id="password" type="password" formControlName="password" class="mytextfield" placeholder="Mot de pass">
        </div>
      </div>
      <div class="jbottom">
        <Button type="submit" class="btnValidate">Se Connecter</Button>
        <span class="underValidate">Pas de compte ? <span class="greelink"  [routerLink]="['/inscription']">Inscrivez vous</span></span>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
  </ion-content>
