
.myWrapper{
  display: flex;
}

.imgBloc{
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  background: url(../../../../assets/images/img_connexion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.blockForm{
  width: 50vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 7vw;
  padding-right: 7vw;
  min-height: 520px;
  overflow: auto;

}

.jhead{
  display: flex;
  flex-direction: column;
}

.myTitle{
  font-size: 2.5em;
}

.myTitleAside{
  font-size: 0.75em;
  margin-left: 0.3em;
  color: var(--ion-color-dark-shade);
}

.jmiddle{
  // padding-left: 8em;
  // padding-right: 8em;
}

.myfield{
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}


.mylabel{
  font-family: 'Circular_Medium';
  font-size: 0.75em;
  color: var(--ion-color-dark-shade);
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.mytextfield{
  border-radius: 25px 25px 25px 25px;
  border: 0;
  height: 2.5em;
  padding-left: 2em;
  background-color: var(--ion-color-primary-contrast);
  color: var(--ion-color-dark-tint);
  font-size: 1em;
}

.myselectfield{
  border-radius: 25px 25px 25px 25px;
  border: 0;
  height: 2.5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--ion-color-primary-contrast);
  color: var(--ion-color-dark-tint);
  font-size: 1em;
}

.jbottom{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnValidate{
  background-color: var(--ion-color-warning);
  height: 3.5em;
  width: 13em;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 1em;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.underValidate{
  font-size: 0.5em;
  color: var(--ion-color-dark-shade);
}

.greelink{
  text-decoration: underline;
}

.noticeinvalid{
  color: var(--ion-color-danger);
  font-family: 'Roboto_light';
  font-size: 0.7em;
  width: 100%;
  text-align: left;
  // padding-left: 2em;
  // margin-top: 1em;
  // margin-bottom: 1em;
}

.redStar{
  color: var(--ion-color-danger);
  font-family: 'Roboto_light';
  font-size: 1em;
  width: 100%;
  text-align: left;
  // padding-left: 2em;
  // margin-top: 1em;
  // margin-bottom: 1em;
}

.circularLoader{
  position: absolute;
  right: 1em;
}


/** Scrolbar **/
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius:25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius:25px;
}

::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
  border-radius:25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/** /Scrolbar **/

@media only screen and (max-width: 600px) {
  .imgBloc{
      display: none;
  }

  .blockForm{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 4em;
      padding-bottom: 4em;
      padding-left: 7vw;
      padding-right: 7vw;
  }
}
