<div class="myWrapper">
  <div class="bloc1">
    <div class="bloclogo">
      <ion-icon slot="start" name="wifi-outline"></ion-icon>
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      <ion-icon slot="start" name="logo-twitter"></ion-icon>
      <ion-icon slot="start" name="logo-google"></ion-icon>
      <ion-icon slot="start" name="logo-linkedin"></ion-icon>
    </div>
    <div></div>
    <div class="blocsign">
      <div>Sign Up</div>
      <div>Sign in</div>
    </div>
  </div>
  <div class="bloc2">
    <div class="blocimg"><img src="../../../../assets/icon/favicon.png" alt=""></div>
      <nav>
        <div class="myulnav">
          <div>HOME</div>
          <div>SIGN IN</div>
          <div>SIGN UP</div>
        </div>
      </nav>
  </div>
</div>
