.myWrapper{
  display: flex;
  flex-direction: column;
  color: #f4f4f4;
}

.bloc1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 4em 0.5em 4em;
  background-color: #394554;

  ion-icon{
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 0.25em 0 0.25em;
    background-color: #f4f4f4;
    color: #333;
    &:first-child{
      transform: rotate(60deg);
    }

    cursor: pointer;
    &:hover{
      background-color: #333;
      color: #f4f4f4;
    }

  }

  .blocsign{
    display: flex;
    justify-content: space-around;
    align-items: center;

    div{
      margin: 0 1em 0 1em;
      cursor: pointer;

      &:hover{
        color: var(--ion-color-warning);
      }
    }
  }
}

.bloc2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4em 0 4em;
  background-color: #5a6c82;
  height: 100%;

  .blocimg{
      height: 100%;
    img{
      margin-left: 3em;
      height: 2.5em;
    }
  }


  .myulnav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 100%;


    div{
      cursor: pointer;
      padding: 1em;

      &:hover{
        color: var(--ion-color-warning);
        background-color: #394554;
        height: 100%;
        display: inline-block;
      }
    }
  }
}
