<ion-content>
<div class="background">
  <h3 class="text-title">Veuillez configurer votre partie</h3>
  <div class="myWrapper">
    <div class="bloc1 bloc">
      <Span class="bloc1-title">Ajouter des participants</Span>
      <input class="searchbar" type="search" [(ngModel)]="searchPersonValue" (input)="searchPerson($event)" placeholder="Nom d'utilisateur du participant" name="" id="">
      <!-- <ion-searchbar  inputmode="text" type="text" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="focus"></ion-searchbar> -->
      <!-- <div *ngFor="let person of TsearchPerson" (click)="onClickSperson(person)" class="participant"></div> -->
      <div *ngFor="let person of TsearchPerson; trackBy: trackElement;" (click)="onClickSperson(person)" class="participant">
        {{person.username}}
      </div>
      <div class="divider"></div>
      <!-- <button class="btnBlue">Ajouter</button> -->
      <div *ngFor="let participant of Participants; let index = index;" (click)="onClickParticipant(index)" class="participant">
        {{participant.username}}
      </div>
      <button (click)="onInviter()" class="btnBlue">Inviter</button>
      <button (click)="sendMsgTo2()" class="btnBlue">sendMsgTo2</button>

      <div class="bloc1-title">refuse</div>
      <div *ngFor="let refusor of TRefusP; let index = index;" class="participant">
        {{refusor}}
      </div>
      <div class="bloc1-title">Accept</div>
      <div *ngFor="let acceptor of TAcceptP; let index = index;" class="participant">
        {{acceptor}}
      </div>

      <button class="btnBlue">Valider</button>

      <div class="text-bottom">les modifications annulerons toutes les configuration suivantes</div>

    </div>
    <div class="bloc2 bloc">
      Nombre de participants
      <input class="txtNumParticp" type="number" [(ngModel)]="Participants.length" readonly>
      <div class="blocThree">
       <img class="chevronLeft" src="assets/images/config/chevron-left.svg" alt="">
       <div class="threeContain">
        <img class="three" *ngIf="!onlineMode" src="assets/images/config/eg-three.svg" alt="">
        <div class="nbManche"> {{nbTour}} Manche<span *ngIf="showS">s</span></div>
       </div>
       <img class="chevronRight" src="assets/images/config/chevron-right.svg" alt="">
      </div>
      <button class="btnBlue">Valider</button>
      <button class="btnOrange">Commencer</button>
    </div>
    <div class="bloc3 bloc">
      <Span>Ajouter des questions</Span>
      <select class="mySelect" name="niv" id="niv" aria-placeholder="niveau" [(ngModel)]="currentLevel" (change)="onLevelSchange($event)">
        <!-- <option value="" [selected]="true">niveau</option> -->
        <option *ngFor="let level of TabLevel" value="{{level.id}}">{{level.name}}</option>
      </select>


      <!-- <select class="mySelect" [(ngModel)]="currentBlocQ" name="BlQ" id="BlQ">
        <option value="">Bloc de questions</option>
        <option *ngFor="let blocQ of tabBlocQ" value="{{blocQ.id}}">{{blocQ.name}}</option>
      </select> -->
        <div *ngFor="let blocQ of tabBlocQ" class="BQuest" (click)="onAddBlocQ(blocQ)">{{blocQ.name}}</div>
        <!-- <button class="btnBlue" >Ajouter</button> -->
        <div class="divider"></div>

      <div class="BlocBQ">
        <div *ngFor="let blocQ of tabSelectedBlocQ; let index=index" class="BQuest"  (click)="onClicBlocSQ(index)"> {{blocQ.name}}</div>
      </div>
      <button (click)="onStart()" class="btnBlue">Valider</button>
    </div>
  </div>
</div>
</ion-content>
