<ion-content>
<div class="background">
  <h3 class="text-title">Veuillez configurer votre partie</h3>
  <div class="myWrapper">
    <div class="bloc1 bloc">
      <Span class="bloc1-title">Ajouter des participants</Span>
      <input class="searchbar" type="search" [(ngModel)]="searchPersonValue" (input)="searchPerson($event)" placeholder="Nom d'utilisateur du participant" name="" id="">
      <!-- <ion-searchbar  inputmode="text" type="text" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="focus"></ion-searchbar> -->
      test
      <div *ngFor="let person of TsearchPerson; trackBy: trackElement;" (click)="onClickSperson(person, trackElement)">
        {{person.username}}
      </div>
      <button class="btnBlue">Ajouter</button>
      <div *ngFor="let participant of Participants" class="participant">
        {{participant.username}}
      </div>
      <button class="btnBlue">Modifier</button>

      <div class="text-bottom">les modifications annulerons toutes les configuration suivantes</div>

    </div>
    <div class="bloc2 bloc">
      Nombre de participants
      <input class="txtNumParticp" type="number">
      <div class="blocThree">
       <img class="chevronLeft" src="assets/images/config/chevron-left.svg" alt="">
       <div class="threeContain">
        <img class="three" src="assets/images/config/eg-three.svg" alt="">
        <div class="nbManche">3 Manches</div>
       </div>
       <img class="chevronRight" src="assets/images/config/chevron-right.svg" alt="">
      </div>
      <button class="btnBlue">Valider</button>
      <button class="btnOrange">Commencer</button>
    </div>
    <div class="bloc3 bloc">
      <Span>Ajouter des questions</Span>
      <select class="mySelect" name="niv" id="niv">
        <option value="">niveau</option>
      </select>

      <select class="mySelect" name="BlQ" id="BlQ">
        <option value="">Bloc de questions</option>
      </select>
      <button class="btnBlue">Ajouter</button>

      <div class="BlocBQ">
        <div class="BQuest">Bloc 1</div>
      </div>
      <button class="btnBlue">Valider</button>
    </div>
  </div>
</div>
</ion-content>
