<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
  <img class="logo" src="assets/icon/logo.svg" alt="">
    accueil
  </ion-title>
  <span>
    icon user
  </span>
  <span>nom utilisateur</span>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="myWrapper">
    <button [routerLink]="['../game-mode-select']" class="btnStart">Nouvelle partie</button>
  </div>

  <!-- <div class="blocIncorrect">
    <span class="textIncorrect">incorrect</span>
    <span class="correctText">Blablabla</span>
    <span class="btnOk">OK</span>
  </div>

  <div>
  <img class="speaker" src="assets/images/partie/speaker.svg" alt="">
    <input type="text" class="txtQuestion">
    <button class="btnValidate">Valider</button>
    <button class="btnLeave">Abandoner</button>
  </div> -->
</ion-content>
