.logo{
  height: 2em;
  width: 2em;
}

ion-content{
  font-family: 'Roboto_medium';
}

.myWrapper{
  height: 100vh;
  width: 100vw;
  background: url(../../../../assets/images/bg-accueil.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.blockQuestion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vw;
}

.btnStart{
  font-family: 'Roboto';
  color: black;
  font-size: 1.5em;
  background-color: var(--ion-color-warning);
  border-radius: 3em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
  // padding: 0.5em 2.5em 0.5em 2.5em;

}

.modal{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blocIncorrect{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  height: 25em;
  width: 35em;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.10);
  border-radius: 25px;
  background-color: white;
}
.blocCorrect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  height: 10em;
  width: 15em;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.10);
  border-radius: 25px;
  background-color: white;
  color: var(--ion-color-success);
  font-size: 2em;
}

.textIncorrect{
  color: var(--ion-color-danger);
  font-size: 2em;
}

.correctText{
  color: var(--ion-color-success);
  font-size: 1.5em;
}

.btnOk{
  color: var(--ion-color-dark);
  font-size: 1.5em;
}

/*******************************************/
.title-question{
  text-align: center;
  font-size: 1em;
}

.askJoin{
  margin-top: 4em;
  font-size: 1em;
  color: var(--ion-color-dark);
}

.btnJoin{
  color: black;
  font-size: 1em;
  background-color: var(--ion-color-warning);
  border-radius: 3em;
  padding: 0.7em 2.5em 0.7em 2.5em;
  margin-top: 4em;
}

.btnDecline{
  background-color: var(--ion-color-danger);
  color: black;
  font-size: 1em;
  margin-right: 2em;
  position: absolute;
  bottom: 3.5em;
  padding: 0.5em 2.5em 0.5em 2.5em;
  border-radius: 3em;
}
