<ion-content>
  <div class="myWrapper">
    <div class="BlocTop">
      <div class="minBlocLeft">
        <div>Participant N°3</div>
        <div>Alphonse Alexandre 27</div>
        <div>Passage N°2</div>
      </div>
      <div class="minBlocCenter">
        <div>Mot N°5</div>
        <div>Banane</div>
        <div>-B-a-n-a-n-e-</div>
        <div>Ecoutez l’orthographe  du participant et donnez un verdict</div>
      </div>
      <div class="minBlocRight">
        <div>Total de Mots: 15</div>
        <div>10 Mots restant</div>
        <div>Demi Finale</div>
        <div>Manche 1</div>
      </div>
    </div>
    <div class="BlocMiddle">
      <button class="btn btnRed">Incorrect</button>
      <div class="textGreen">Correct !</div>
      <div class="textRed">incorrect !</div>
      <button class="btn btnGreen">Correct</button>
    </div>
    <div class="BlocBottom">
      <button class="btn btnOrange">Confirmer</button>
    </div>
  </div>
</ion-content>
