.myWrapper{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.bloc-score{
  background: url(../../../../assets/images/partie/bg-score.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.title-score{
  font-size: 3em;
}
.score{
  text-align: center;
  font-size: 5em;
}
.encourage{
  text-align: center;
}

.btnHome{
  background-color: var(--ion-color-primary);
  color: black;
  font-size: 2em;
  padding: 0.5em 3.5em 0.5em 3.5em;
  border-radius: 5px;
}
