<ion-content>
  <div class="myWrapper">
    <div class="imgBloc">
      <!-- <img src="assets/images/img_inscription.jpg" alt=""> -->
    </div>
    <div class="blockForm">
      <div class="jhead">
        <span class="myTitle">Inscription</span>
        <span class="myTitleAside">Inscrivez vous si vous n'avez pas de compte</span>
      </div>
      <div class="jmiddle">
        <br>
        <!-- <div class="myfield">
          <label for="name" class="mylabel">Votre nom </label>
          <input id="name" type="text" class="mytextfield" placeholder="Nom">
        </div>

        <div class="myfield">
          <label for="organization" class="mylabel">Votre organisation </label>
          <select name="organization" id="organisation" class="myselectfield" >
            <option value="null">Oganization</option>
            <option value="#">#</option>
          </select>
        </div>
        <div class="myfield">
          <label for="level" class="mylabel">Votre niveau </label>
          <select name="level" id="level" class="myselectfield" >
            <option value="null">Niveau</option>
            <option value="#">#</option>
          </select>
        </div>

        <div class="myfield">
          <label for="genre" class="mylabel">Votre genre </label>
          <select name="genre" id="genre" class="myselectfield" >
            <option value="null">Genre</option>
            <option value="#">#</option>
          </select>
        </div>

        <div class="myfield">
          <label for="town" class="mylabel">Votre ville </label>
          <select name="town" id="town" class="myselectfield" >
            <option value="null">Ville</option>
            <option value="#">#</option>
          </select>
        </div> -->


        <!-- ============================================================================= -->
        <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">


          <div class="myfield">
            <span *ngIf="usernameAlreadyExist" class="noticeinvalid">ce nom d'utilisateur existe déjà</span>
            <span *ngIf="usernameEmpty" class="noticeinvalid">Ce champs ne doit pas rester vide</span>
            <span *ngIf="otherusernameError" class="noticeinvalid">Veuillez entrer nom d'utilisateur valide</span>
            <label for="username" class="mylabel">Votre nom d’utilisateur</label>
            <input id="username" type="text" formControlName="username" class="mytextfield" placeholder="Nom d'utilisateur">
          </div>

          <div class="myfield">
            <span *ngIf="emailAlreadyExist" class="noticeinvalid">Cet adresse email existe déjà</span>
            <span *ngIf="emailEmpty" class="noticeinvalid">Ce champs ne doit pas rester vide</span>
            <span *ngIf="emailInvalid" class="noticeinvalid">Veuillez entrer une adresse email valide</span>
            <span *ngIf="otherEmailError" class="noticeinvalid">Veuillez entrer une adresse email valide</span>
            <label for="email" class="mylabel">Votre adresse email</label>
            <input id="email" type="text" formControlName="email" class="mytextfield" placeholder="Email">
          </div>

          <div class="myfield">
            <span *ngIf="passwordEmpty" class="noticeinvalid">Ce champs ne doit pas rester vide</span>
            <span *ngIf="passwordAndConfirmDiferent" class="noticeinvalid">Les mots de passe ne coinsident pas</span>
            <span *ngIf="passwordWeak" class="noticeinvalid">mot de passe pas assez puissant veuillez essayer un autre</span>
            <span *ngIf="passwordToCommun" class="noticeinvalid">mot de passe trop commun veuillez essayer un autre</span>
            <span *ngIf="otherPasswordError" class="noticeinvalid">mot de passe pas assez puissant veuillez essayer un autre</span>
            <label for="password1" class="mylabel">Votre mot de pass</label>
            <input id="password1" type="password" formControlName="password1" class="mytextfield" placeholder="Mot de pass">
          </div>

          <div class="myfield">
            <span *ngIf="confirmEmpty" class="noticeinvalid">Ce champs ne doit pas rester vide</span>
            <span *ngIf="passwordAndConfirmDiferent" class="noticeinvalid">Les mots de passe ne coinsident pas</span>
            <span *ngIf="passwordWeak" class="noticeinvalid">mot de passe pas assez puissant veuillez essayer un autre</span>
            <span *ngIf="passwordToCommun" class="noticeinvalid">mot de passe trop commun veuillez essayer un autre</span>
            <span *ngIf="otherPasswordError" class="noticeinvalid">mot de passe pas assez puissant veuillez essayer un autre</span>
            <label for="password2" class="mylabel"><span class="redStar">*</span> Confirmation du mot de pass</label>
            <input id="password2" type="password" formControlName="password2" class="mytextfield" placeholder="Confirmation du mot de pass">
          </div>

          <div class="jbottom">
            <Button type="submit" class="btnValidate">S'inscrire</Button>
            <span class="underValidate">Déjà inscrit ? <span class="greelink" [routerLink]="['/connexion']">Conncetez vous</span></span>
          </div>
        </form>
        </div>

    </div>
  </div>
  <app-footer></app-footer>
  </ion-content>
