<ion-content>
  <div class="myWrapper">
    <div class="imgBloc">
      <!-- <img src="assets/images/img_inscription.jpg" alt=""> -->
    </div>
    <div class="blockForm">
      <div class="jhead">
        <span class="myTitle">Inscription</span>
        <span class="myTitleAside">Connectez vous si vous êtes déjà inscrit</span>
      </div>
      <div class="jmiddle">

        <div class="myfield">
          <label for="name" class="mylabel">Votre nom </label>
          <input id="name" type="text" class="mytextfield" placeholder="Nom">
        </div>

        <div class="myfield">
          <label for="organization" class="mylabel">Votre organisation </label>
          <select name="organization" id="organisation" class="myselectfield" >
            <option value="null">Oganization</option>
            <option value="#">#</option>
          </select>
        </div>
        <div class="myfield">
          <label for="level" class="mylabel">Votre niveau </label>
          <select name="level" id="level" class="myselectfield" >
            <option value="null">Niveau</option>
            <option value="#">#</option>
          </select>
        </div>

        <div class="myfield">
          <label for="genre" class="mylabel">Votre genre </label>
          <select name="genre" id="genre" class="myselectfield" >
            <option value="null">Genre</option>
            <option value="#">#</option>
          </select>
        </div>

        <div class="myfield">
          <label for="town" class="mylabel">Votre ville </label>
          <select name="town" id="town" class="myselectfield" >
            <option value="null">Ville</option>
            <option value="#">#</option>
          </select>
        </div>


        <!-- ============================================================================= -->
        <div class="myfield">
          <label for="email" class="mylabel">Votre adresse email</label>
          <input id="email" type="text" class="mytextfield" placeholder="Email">
        </div>

        <div class="myfield">
          <label for="login" class="mylabel">Votre nom d’utilisateur</label>
          <input id="login" type="text" class="mytextfield" placeholder="Login">
        </div>
        <div class="myfield">
          <label for="password1" class="mylabel">Votre mot de pass</label>
          <input id="password1" type="password" class="mytextfield" placeholder="Mot de pass">
        </div>

        <div class="myfield">
          <label for="password2" class="mylabel">Confirmation du mot de pass</label>
          <input id="password2" type="password" class="mytextfield" placeholder="Confirmation du mot de pass">
        </div>
      </div>
      <div class="jbottom">
        <Button class="btnValidate">Se Connecter</Button>
        <span class="underValidate">Pas de compte ? <span class="greelink">Inscrivez vous</span></span>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  </ion-content>
