<ion-content>
<div>
  <div class="imgBloc"><img src="assets/images/img_inscription.jpg" alt=""></div>
  <div class="blockForm">
    <div class="jhead">
      <h1>Connexion</h1>
      <h5>Connectez vous si vous êtes déjà inscrit</h5>  
    </div>
    <div class="jmiddle">
      <div class="myfield">
        <label for="login" class="mylabel">Votre nom d’utilisateur</label>
        <input id="login" type="text" class="mytextfield" placeholder="Login">
      </div>
      <div class="myfield">
        <label for="password" class="mylabel">Votre mot de pass</label>
        <input id="password" type="password" class="mytextfield" placeholder="Mot de pass">
      </div>
    </div>
    <div class="jbottom">
      <Button class="btnValidate">Se Connecter</Button>
      <span class="underValidate">Pas de compte ? <span class="greelink">Inscrivez vous</span></span>
    </div>
  </div>
</div>
</ion-content>
